body{
  background-size: cover;   
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; 
  background-image: url("https://images.unsplash.com/photo-1729429947943-e5e89a93878e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height:100vh;
  width: auto;
  background-color:wheat ;
  display: flex;
  justify-content:center ;
}

.main{
  margin: 10px;
  height:auto;
  width:80vw;
 
}
.setTask{
  width:100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
input{
  font-size: 16px;
  width:90%;
  height:3em;
  border-radius: 0.5rem;
  border:none;
}

.task-card{
  width:100%;
  background-color: white;
  border-radius: 0.5rem;
  padding:0.8rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text{
  word-wrap: break-word;overflow: hidden;
  
}
.text-area{
  width:90%;
  height:auto;
}
.checked{
  margin-right:0.5rem;
}
.icons{
  display: flex;
}
.edit{
  margin-left: 10px;
}
.edit-task-input{
  height:80%;
  width: 400px;
}

@media(max-width :600px){
  input{

    width:70%;
    height:2.5em;
    
  }
  .edit-task-input{
    width: 100%;
  }
  .text-area{
    width:79%;
  }

}
