body{
  height:100vh;
  width:auto;
  display:flex;
  justify-content:center;
  text-align: center;
}
.main{
  width:80vw;
}

.task{
  display: flex;
  justify-content: space-between;
  margin: 1.2rem 0px 0px 0px;
  border:1px solid black;
  font-family: 'Courier New', Courier, monospace;
  
}
p{
  margin:5px 0px;
  
  font-weight: bold;
}
.task-set{
  display:flex;
  margin-top: 3rem;
  width:100%;
  height:1.5rem
}
input{

  height:100%;
  width:90%;
  
}
button{
  margin-left: 1.2rem;
  width:7%;
  height:1.9rem;
  font-weight: bold;
  font-size: 1em;
}
.tasks{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.imgs{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-right: 0.5rem;
}
h1{
  margin:1rem 1rem 0px 0px
}
.img{
  padding:0rem 0rem 0rem 1rem;
}

@media (max-width:480px) {
  body{
    display: flex;
    justify-content: center;
  }
  .main{
    width: 90vw;
  }
  button{
    margin-left: 1.2rem;
    width:10%;
    height:1.9rem;
  }
}